**/.git
**/*.log

**/*.md

**/bin
**/pkg
**/*_test.go

vendor/

.cache

.vscode/
.idea/

.DS_Store
Thumbs.db

*.local.yaml
*.local.yml
*.local.json

.docker
!.docker/Dockerfile

**/*.test
**/coverage.out

**/tmp

**/*.exe
**/*.exe~
**/*.dll
**/*.so
**/*.dylib